* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-log1 {
  height: 200px;
  background-image: url(../caravan/img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-log2 {
  height: 200px;
  background-image: url(../caravan/img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-log3 {
  height: 200px;
  background-image: url(../caravan/img/box3.jpg);
  background-size: cover;
  background-position: center;

}

.main-log4 {
  height: 200px;
  background-image: url(../caravan/img/box4.jpg);
  background-size: cover;
  background-position: center;
}